.boton-tenis {
  width: 250px;
  height: 70px;
  font-size: 1.3rem;
  color: aliceblue;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(7, 102, 72);
  border-radius: 6px;
  border: 4px solid gray;
}
/* Opcional */
.boton-tenis:hover {
  background-color: rgb(7, 102, 72, 0.8);
}
.boton-tenis:active {
  background-color: rgb(7, 102, 72, 0.6);
}
